<!-- 分页 -->
<script src="{{ site.url }}/assets/js/jPages.min.js"></script>
<!-- <script src="{{ site.url }}/assets/js/js.js"></script> -->
<script type="text/javascript">
	$(function(){
	/* 初始化分页插件 */ 
	$('div.page-holder').jPages({          /* 页码 */
		containerID  : 'page-itemContainer', /* 分页id */
		previous: '上一页',
		next: '下一页',
		perPage      : 10,                   /* 每页数量 */
		startPage    : 1,                    /* 起始页 */
		startRange   : 1,
		midRange     : 3,
		endRange     : 1
	});

	/* 文章篇数 */ 
	var total = $('#page-itemContainer').children('li').length;
	var str = '（'+ total +' 篇）';
	$('#post-total').html(str);
	});
</script>