.page-holder {
	margin: 15px 0;
	text-align: center;
}

.page-holder a {
	font-size: 12px;
	cursor: pointer;
	margin: 0 5px;
	color: #1a222c;
	text-decoration: none;
}

.page-holder a:hover {
	text-decoration: underline;
}

.page-holder a.jp-previous { margin-right: 15px; }
.page-holder a.jp-next { margin-left: 15px; }

.page-holder a.jp-current, a.jp-current:hover { 
	color: #FF4242;
	font-weight: bold;
}

.page-holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.page-holder a.jp-current, a.jp-current:hover,
.page-holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none;
	text-decoration: none;
}

.page-holder span { margin: 0 5px; }