<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js github commits example</title>
    <style>
      #demo {
        font-family: 'Helvetica', Arial, sans-serif;
      }
      a {
        text-decoration: none;
        color: #f66;
      }
      li {
        line-height: 1.5em;
        margin-bottom: 20px;
      }
      .author, .date {
        font-weight: bold;
      }
    </style>
    <!-- Delete ".min" for console warnings in development -->
    <script src="/assets/js/vue.min.js"></script>
  </head>
  <body>
    <div id="demo">
      <h1>Latest Vue.js Commits</h1>
      <template v-for="branch in branches">
        <input type="radio"
          :id="branch"
          :value="branch"
          name="branch"
          v-model="currentBranch">
        <label :for="branch">{{ branch }}</label>
      </template>
      <p>vuejs/vue@{{ currentBranch }}</p>
      <ul>
        <li v-for="record in commits">
          <a :href="record.html_url" target="_blank" class="commit">{{ record.sha.slice(0, 7) }}</a>
          - <span class="message">{{ record.commit.message | truncate }}</span><br>
          by <span class="author"><a :href="record.author.html_url" target="_blank">{{ record.commit.author.name }}</a></span>
          at <span class="date">{{ record.commit.author.date | formatDate }}</span>
        </li>
      </ul>
    </div>

    <script>
        var apiURL = 'https://api.github.com/repos/vuejs/vue/commits?per_page=3&sha='

        /**
        * Actual demo
        */

        var demo = new Vue({

            el: '#demo',

            data: {
                branches: ['master', 'dev'],
                currentBranch: 'master',
                commits: null
            },

            created: function () {
                // 组件创建后执行
                this.fetchData()
            },

            watch: {
                // 当 currentBranch 变化时，执行 fetchData 方法
                currentBranch: 'fetchData'
            },

            // 过滤器
            filters: {
                // 格式化
                truncate: function (v) {
                    var newline = v.indexOf('\n')
                    return newline > 0 ? v.slice(0, newline) : v
                },
                formatDate: function (v) {
                    return v.replace(/T|Z/g, ' ')
                }
            },

            methods: {
                fetchData: function () {
                    // 原生 AJAX 获取 git commit 数据，存入 commits 😝😝😝
                    var xhr = new XMLHttpRequest()
                    var self = this
                    xhr.open('GET', apiURL + self.currentBranch)
                    xhr.onload = function () {
                        self.commits = JSON.parse(xhr.responseText)
                        console.log(self.commits[0].html_url)
                    }
                    xhr.send()
                }
            }
        })
    </script>
  </body>
</html>