<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js SVG graph example</title>
    <style>
        body {
            font-family: Helvetica Neue, Arial, sans-serif;
        }

        polygon {
            fill: #42b983;
            opacity: .75;
        }

        circle {
            fill: transparent;
            stroke: #999;
        }

        text {
            font-family: Helvetica Neue, Arial, sans-serif;
            font-size: 10px;
            fill: #666;
        }

        label {
            display: inline-block;
            margin-left: 10px;
            width: 20px;
        }

        #raw {
            position: absolute;
            top: 0;
            left: 300px;
        }
    </style>
    <script src="/assets/js/vue.min.js"></script>
</head>
<body>
    <!-- template for the polygraph component. -->
    <!-- 图形坐标 -->
    <script type="text/x-template" id="polygraph-template">
        <!--  -->
        <g>
            <!-- 多边形 points 为坐标，点与点有空格隔开 -->
            <polygon :points="points"></polygon>
            <!-- 圆 cx，cy 为圆心坐标，r 为半径 -->
            <circle cx="100" cy="100" r="80"></circle>
            <axis-label
              v-for="(stat, index) in stats"
              :stat="stat"
              :index="index"
              :total="stats.length">
            </axis-label>
        </g>
    </script>

    <!-- template for the axis label component. -->
    <!-- 点 -->
    <script type="text/x-template" id="axis-label-template">
        <!-- 文本 x，y 为文字坐标 -->
        <text :x="point.x" :y="point.y">{{stat.label}}</text>
    </script>

    <div id="demo">
        <svg width="200" height="200">
            <polygraph :stats="stats"></polygraph>
        </svg>

        <div v-for="stat in stats">
            <label>{{stat.label}}</label>
            <input type="range" v-model="stat.value" min="0" max="100">
            <span>{{stat.value}}</span>
            <button @click="remove(stat)" class="remove">X</button>
        </div>
        <form id="add">
            <input name="newlabel" v-model="newLabel">
            <button @click="add">Add a Stat</button>
        </form>

        <!-- 将 stats 输出到页面-->
        <pre id="raw">{{ stats }}</pre>
    </div>
        
    <p style="font-size:12px">* input[type="range"] requires IE10 or above.</p>

    <script>
        // The raw data to observe 初始数据
        var stats = [
            { label: 'A', value: 100 },
            { label: 'B', value: 100 },
            { label: 'C', value: 100 },
            { label: 'D', value: 100 },
            { label: 'E', value: 100 },
            { label: 'F', value: 100 }
        ]

        // A reusable polygon graph component
        // 定义 polygraph 组件
        Vue.component('polygraph', {
            props: ['stats'],
            template: '#polygraph-template',
            computed: {
                // a computed property for the polygon's points
                // 返回点的坐标 字符串
                points: function () {
                    var total = this.stats.length
                    return this.stats.map(function (stat, i) {
                        var point = valueToPoint(stat.value, i, total)
                        return point.x + ',' + point.y
                    }).join(' ')
                }
            },
            // 子组件 axis-label
            components: {
                // a sub component for the labels
                'axis-label': {
                    props: {
                        stat: Object,
                        index: Number,
                        total: Number
                    },
                    template: '#axis-label-template',
                    computed: {
                        // 文字坐标
                        point: function () {
                            return valueToPoint(
                                +this.stat.value + 10,
                                this.index,
                                this.total
                            )
                        }
                    }
                }
            }
        })

        // math helper...
        // 数学方法  高中知识（已知圆心，半径，角度，求点坐标）
        function valueToPoint (value, index, total) {
            var x     = 0
            var y     = -value * 0.8
            var angle = Math.PI * 2 / total * index
            var cos   = Math.cos(angle)
            var sin   = Math.sin(angle)
            var tx    = x * cos - y * sin + 100
            var ty    = x * sin + y * cos + 100
            return {
                x: tx,
                y: ty
            }
        }

        // bootstrap the demo
        new Vue({
            el: '#demo',
            data: {
                // input 数据
                newLabel: '',
                stats: stats
            },
            methods: {
                add: function (e) {
                    e.preventDefault()
                    // 如果为空，return
                    if (!this.newLabel) return
                    // 否则 插入新的数据
                    this.stats.push({
                        label: this.newLabel,
                        value: 100
                    })
                    // 置空
                    this.newLabel = ''
                },
                remove: function (stat) {
                    if (this.stats.length > 3) {
                        // 删除当前数据
                        this.stats.splice(this.stats.indexOf(stat), 1)
                    } else {
                        alert('Can\'t delete more!')
                    }
                }
            }
        })
    </script>
</body>
</html>