---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}<span id="post-total"></span></h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    <ul id="page-itemContainer">
                        {% for post in site.posts %}
                            {% if post.project == null %}
                            <li class="wow fadeInLeft" data-wow-duration="1.5s">
                                <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                <p class="excerpt">{{ post.excerpt }}</p>
                                <p class="info">
                                    <span><i class="fa fa-calendar margin-right5"></i>{{ post.date | date: "%Y-%m-%d" }}</span>
                                    {% if site.leancloud.enable %}
                                    <span><i class="fa fa-eye margin-right5"></i>
                                        <span id="{{ post.url }}" class="leancloud_visitors" data-flag-title="{{ post.title }}">
                                            <span class="leancloud-visitors-count"></span>
                                        </span>
                                    </span>
                                    {% endif %}
                                </p>
                                <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">阅读更多</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="page-holder"></div>
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    {% include pagination.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
